<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Basic -->

<head th:replace="fragment::header"> </head>

<body>
    <!-- Start Main Top -->
   <div th:replace="fragment::main-top"></div>
    <!-- End Main Top -->


    <!-- Start Main Top -->
     <header class="main-header" th:replace="fragment::main-header"></header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
<div class="top-search"  th:replace="fragment::top-search" ></div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box" th:replace="fragment::all-title-box"></div>
    <!-- End All Title Box -->

    <!-- Start My Account  -->
    <div class="container">
        <div class="row my-2">
            <div class="col-lg-4 order-lg-1 text-center">
                <img src="images/profile.jpg" width="200px" height="200px" class="mx-auto img-fluid img-circle d-block"
                    alt="Profile picture" />
            </div>
                <div class="col-lg-8 order-lg-2">
                    <div class="tab-content py-4">
                        <div class="tab-pane active" id="profile">
                            <h1><b>Your Profile</b></h1>
                            <h2>Linh Dieu <span style="font-size: medium;"></span></h2>
                            <h4>Email: 1701040099@gmail.com</h4>
                            <h4>Phone: 1701040099@gmail.com</h4>
                            <h4>Address: 495 Nguyen Trai, Thanh Xuan, Ha Noi</h4>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="my-account-box-main">
            <div class="container">
                <div class="my-account-page">
                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <div class="account-box">
                                <div class="service-box">
                                    <div class="service-icon">
                                        <a href="#"> <i class="fa fa-gift"></i> </a>
                                    </div>
                                    <div class="service-desc">
                                        <h4>Your Orders</h4>
                                        <p>Track, return, or buy things again</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="account-box">
                                <div class="service-box">
                                    <div class="service-icon">
                                        <a href="#"><i class="fa fa-lock"></i> </a>
                                    </div>
                                    <div class="service-desc">
                                        <h4>Login &amp; security</h4>
                                        <p>Edit login, name, and mobile number</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="account-box">
                                <div class="service-box">
                                    <div class="service-icon">
                                        <a href="#"> <i class="fa fa-location-arrow"></i> </a>
                                    </div>
                                    <div class="service-desc">
                                        <h4>Your Addresses</h4>
                                        <p>Edit addresses for orders and gifts</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End My Account -->

        <!-- Start Feed  -->
       <div class="instagram-box" th:replace="fragment::instagram-box" ></div>

        <!-- End Feed  -->


        <!-- Start Footer  -->
        <footer>
            <div class="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-top-box">
                                <h3>Business Time</h3>
                                <ul class="list-time">
                                    <li>Monday - Sunday: 08.00am to 10.00pm</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-top-box">
                                <h3>Contact Us</h3>
                                <ul class="list-time">
                                    <li><i class="fas fa-phone-square"></i> Phone number: +84967631186</li>
                                    <li><i class="fas fa-envelope"></i> Email: abc@gmail.com</li>
                                    <li><i class="fas fa-map-marker-alt"></i> Address: Km9, Nguyen Trai, Thanh Xuan</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-top-box">
                                <h3>Social Media</h3>
                                <p>Come with Ocean Prime shop - Only Fresh </p>
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <!-- ALL JS FILES -->
                    <script src="js/jquery-3.2.1.min.js"></script>
                    <script src="js/popper.min.js"></script>
                    <script src="js/bootstrap.min.js"></script>
                    <!-- ALL PLUGINS -->
                    <script src="js/jquery.superslides.min.js"></script>
                    <script src="js/bootstrap-select.js"></script>
                    <script src="js/inewsticker.js"></script>
                    <script src="js/bootsnav.js."></script>
                    <script src="js/images-loded.min.js"></script>
                    <script src="js/isotope.min.js"></script>
                    <script src="js/owl.carousel.min.js"></script>
                    <script src="js/baguetteBox.min.js"></script>
                    <script src="js/form-validator.min.js"></script>
                    <script src="js/contact-form-script.js"></script>
                    <script src="js/custom.js"></script>
</body>

</html>